<template>
    <div>
        <h3 class="text-center">{{ message }}</h3>
        <div class="row text-center">
            <div class="btn btn-primary offset-1 col-1" v-on:click="$emit('change-view','welcome')">Back</div>
            <input class="form-control offset-1 col-7" v-model="searchText" placeholder="Search for">
        </div>
        <employee-card v-on:change-view="personClick(person)" v-for="person in persons"
                       v-bind:key="person.id" v-bind:employee="person">
        </employee-card>
    </div>
</template>

<script>
    import EmployeeCard from "@/components/EmployeeCard";
    import axios from 'axios';
    import settings from "../../settings";

    export default {
        name: "EmployeeList",
        components: {EmployeeCard},
        // The state of the registration process (employee_sign_in, sign_out or visitor choice and the person which is currently using the app
        props: ['state','person'],
        data: function () {
            return {
                message: "Who are you ?",
                searchText: "",
                persons: [],
            }
        },
        methods: {
            personClick: function (person) {
                if(this.state === "employee_sign_in"){
                    let url = settings.API_URL + 'employees/' + person.id + '/sign_in/'
                    axios.get(url).catch(error => (console.log(error)))
                    this.$emit('change-view', 'great_day',person)
                }
                if(this.state === "sign_out"){
                    let url = settings.API_URL + 'employees/' + person.id + '/sign_out/'
                    axios.get(url).catch(error => (console.log(error)))
                    this.$emit('change-view', 'great_day',person)
                }
                if(this.state === "employee_choice") {
                    let url = settings.API_URL + 'visitors/' + this.person.id + '/visit/' + person.id + "/"
                    axios.get(url).catch(error => (console.log(error)))
                    this.$emit('change-view', 'great_day',this.person)
                }

            }
        },
        mounted() {
            if(this.state === "employee_choice") {
                this.message = "Who are you meeting ?"
            }

            /*** Employee fetching ***/
            let url = settings.API_URL + 'employees/'
            if(this.state === "sign_out") {
                url += "inside/"
            }
            if(this.state === "employee_sign_in") {
                url += "outside/"
            }
            axios.get(url).then(response => {
                for(let person of response.data){
                    this.persons.push(person);
                }
            }).catch(error => (console.log(error)))

            /*** Visitor fetching ***/
            if(this.state === "sign_out") {
                axios.get(settings.API_URL + "visitors/inside/").then(response => {
                    for(let person of response.data){
                        this.persons.push(person);
                    }
                }).catch(error => (console.log(error)))
            }

            if(this.state === "visitor_list") {
                let url = settings.API_URL + 'visitors/'
                axios.get(url).then(response => {
                    for(let person of response.data){
                        this.persons.push(person);
                    }
                }).catch(error => (console.log(error)))
                this.$emit('change-view', 'great_day',this.person)
            }

        }


    }
</script>

<style scoped>
</style>