<template>
    <div class="text-center jumbotron">
        <h1 class="display-4">Have a nice day {{ person.first_name }} !</h1>
        <p class="lead"></p>
        <hr>
        <div class="btn btn-lg btn-primary" v-on:click="$emit('change-view','welcome')">Back</div>
    </div>

</template>

<script>
    export default {
        name: "GreatDay",
        props: ['person']
    }
</script>

<style scoped>

</style>