<template>
    <div class="jumbotron text-center">
        <div>
            <h1 class="display-8">Do I know you ?</h1>
            <p class="lead"> Welcome to Witekio, dear visitor ! </p>
            <p class="lead"> Have you already registered yourself in my database ?</p>
            <hr class="my-4">
            <div class="row justify-content-around">
                <div class="col-2 btn btn-lg btn-secondary" v-on:click="$emit('change-view','visitor_list')">Yes</div>
                <div class="col-2 btn btn-lg btn-primary" v-on:click="$emit('change-view','visitor_registration')">No</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VisitorMenu"
    }
</script>

<style scoped>

</style>