<template>
    <div style="text-align: center;">
        <div>
            <div class="btn btn-primary" v-on:click="$emit('change-view','welcome')">Back</div>
            Let us know about you
        </div>
        <form id="registration_form">
            <div class="row">
                <div class="col form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name">
                </div>
                <div class="col form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" name="company" id="company">
            </div>
            <div class="form-group">
                <label for="car-registration">Car Registration</label>
                <input type="text" class="form-control" name="car-registration" id="car-registration">
            </div>
            <button class="btn btn-primary" v-on:click="register_visitor($event)">Sign In</button>
        </form>
    </div>

</template>

<script>
    import axios from "axios";
    import settings from "../../settings";

    export default {
        name: "VisitorRegistrationForm",
        props: ['person'],
        methods: {
            register_visitor: function (event) {

                if (event) {
                    event.preventDefault()
                }
                let form = document.getElementById("registration_form")
                let form_data = new FormData(form)
                const self = this;
                axios.post(settings.API_URL + "visitors/", form_data).then(
                    (response) => self.$emit('change-view', 'employee_choice', response.data)
                ).catch(error => console.log(error))


            }
        }

    }
</script>

<style scoped>
    form {
        width: 80%;
        display: inline-block;
    }
</style>