<template>
    <div class="jumbotron text-center">
        <div>
            <h1 class="display-4">Hello there !</h1>
            <p class="lead">Nice to meet you, who are you ?</p>
            <div class="row justify-content-around">
                <div class="col-2 btn btn-lg btn-secondary" v-on:click="$emit('change-view','employee_sign_in')">Employee</div>
                <div class="col-2 btn btn-lg btn-primary" v-on:click="$emit('change-view','visitor_registration')">Visitor</div>
            </div>
        </div>
        <hr class="my-4">
        <div>
            <h2>Goodbye</h2>
            <p class="lead">Leaving Us ? Please sign out :)</p>
            <div class="btn btn-lg btn-primary" v-on:click="$emit('change-view','sign_out')">Sign out</div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Welcome"
    }
</script>

<style scoped>

</style>