<template>
    <div v-on:click="$emit('change-view','great_day')" class="card employee-card" >
        <img v-bind:src="employee.picture" class="employee-img">
        <div class="card-body employee">
            <h5 class="card-subtitle employee-name">{{ employee.first_name }} {{ employee.last_name }}</h5>
            <p class="card-text">{{ employee.position}} {{ employee.company }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EmployeeCard",
        props: ['employee']
    }
</script>

<style scoped>
    .employee {
        display: inline-block;
    }

    .employee-name {
        font-style: italic;
    }

    .employee-card {
        margin: 5px;
        width: 380px;
        display: inline-block;
    }
    .employee-img {
        padding: 3px;
        align-self: flex-start;
        display: inline-block;
        width: 100px;
        height: 100px;
    }
</style>