<template>
    <div>
        <transition v-bind:name="animation">
            <component class="main-component" v-on:change-view="changeView" v-bind:is="currentComponent" v-bind:person="person" v-bind:state="state"></component>
        </transition>

    </div>
</template>

<script>
    import "bootstrap/dist/css/bootstrap.css"
    import Welcome from "@/pages/Welcome";
    import EmployeeList from "@/pages/EmployeeList";
    import VisitorRegistrationForm from "./pages/VisitorRegistrationForm";
    import GreatDay from "./pages/GreatDay";
    import VisitorMenu from "./pages/VisitorMenu";

    export default {
        name: 'App',
        data: function () {
            return {
                currentComponent: Welcome,
                animation: "transition-right",
                state: "welcome",
                person: null
            }
        },
        methods: {
            changeComponent: function () {
                this.currentComponent = Welcome
            },
            /*** Routing logic ***/
            changeView: function (route,arg) {
                switch (route) {
                    /*** Visitor routes **/
                    case 'visitor_menu':
                        this.animation = "transition-right"
                        this.currentComponent = VisitorMenu
                        break;
                    case 'visitor_list':
                        this.animation = "transition-right"
                        this.currentComponent = EmployeeList
                        break;
                    case 'visitor_registration':
                        this.animation = "transition-right"
                        this.currentComponent = VisitorRegistrationForm
                        break;

                    /*** Employee routes **/
                    case 'employee_sign_in':
                        this.animation = "transition-right"
                        this.currentComponent = EmployeeList
                        break;
                    case 'employee_choice':
                        this.person = arg
                        this.animation = "transition-right"
                        this.currentComponent = EmployeeList
                        break;

                    /*** Common routes ***/
                    case 'sign_out':
                        this.animation = "transition-right"
                        this.currentComponent = EmployeeList
                        break;

                    case 'great_day':
                        this.person = arg
                        this.animation = "transition-right"
                        this.currentComponent = GreatDay
                        break;
                    case 'welcome':
                        this.animation = "transition-left"
                        this.currentComponent = Welcome
                        break;
                }
                this.state = route
            }
        }
    }

</script>

<style scoped>

    /*** transition right ***/
    .transition-right-leave-active,
    .transition-right-enter-active {
        transition: 0.6s;
    }

    .transition-right-enter {
        transform: translateX(100%);
    }

    .transition-right-leave-to {
        transform: translateX(-100%);
    }

    /*** transition left ***/
    .transition-left-leave-active,
    .transition-left-enter-active {
        transition: 0.6s;
    }

    .transition-left-enter {
        transform: translateX(-100%);
    }

    .transition-left-leave-to {
        transform: translateX(100%);
    }


    .main-component {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 500px;
    }


</style>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    body {
        overflow: hidden;
    }
</style>
